@import url(https://fonts.bunny.net/css?family=advent-pro:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i);

$primary--color: rgb(119, 0, 255);

$primary--color-bis: rgb(94, 0, 202);

$font--primary : 'Advent Pro', sans-serif;

$border--bottom : .5px solid rgba(165, 165, 165, 0.705);

$header--height : 85px;